#LineGraphContainer {
  margin: 10px Auto 100px Auto;
  height: 550px;
  width: 80%;
}

#BarChartContainer{
  display: inline-block;
  height: 350px;
  width: 40%;
}

#chartContainer2{
  float: left;
  margin:15px;
  height: 200px;
  width: 30%;
}

#chartContainer3{
  float: left;
  margin:13px;
  height: 200px;
  width: 30%;
}

#chartContainer4{
  float: left;
  margin:13px;
  height: 200px;
  width: 30%;
}
