

html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
h1 {color: maroon; text-align: center; margin: 150px auto 50px auto;}
p {font-family: "Times New Roman", Times, serif; }
body {background-color: linen;}
span {font-family: "Times New Roman", Times, serif; font-size: 20px; }

div.logina{width: 98%; border-radius: 5px;  padding: 10px 20px 20px 20px;  margin: auto;}
div.buttonf{width: 50%; border-radius: 5px; padding: 20px; margin: auto;}

img.fp1 { display: block; margin-left:20px; padding:50px 10px 50px 10px; float:left;}

	
select { width: 100%; padding: 5px 20px; margin: 5px 0;  display: inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing: border-box;}
input[type=submit] { width: 100%; background-color: #4CAF50; color: white;  padding: 8px 20px;  margin: 13px 0; border: none;  border-radius: 4px; cursor: pointer;}
input[type=submit]:hover { background-color: #45a049;}
#adjust, #rs{background-color: #4CAF50;  color: white; border-radius: 4px;}

a { text-decoration: none; display: inline-block; padding: 8px 16px;}
a:hover {  background-color: #ddd;  color: black;}

.taptop{color: white;	font-family: "Times New Roman", Times, serif;  font-size: 20px;}	
.box{	border-radius: 8px;}
.second {padding-top:50px;text-decoration; padding: 50px 16px;}
.navbar { overflow: hidden;background-color: #990000; position: fixed; top: 0; width: 100%; border-style: none none solid none; border-width: 5px; border-color: #4CAF50;}
.main { padding: 16px; margin-top: 30px; height: 1500px; /* Used in this example to enable scrolling */}
.master {padding: 0 16px 16px 16px; width:90%; }
.bps {padding-top:10px;}

.flex-container {margin: 0px 18px; padding: 0px 16px 16px 16px; display: -webkit-flex; display: flex; width: 98%; }

.bgfp1 { width:25%; hight:200px; padding:30px 20px 20px 20px;margin:10px; border-radius: 8px;}

.dropbtn {background-color: #4CAF50;  color: white; padding: 16px;  font-size: 16px;  border: none; cursor: pointer;}
.dropbtn:hover, .dropbtn:focus { background-color: #3e8e41;}

.dropdown {position: relative; display: inline-block;}
.dropdown-content { display: none; position: absolute; background-color: #f9f9f9; min-width: 160px;  overflow: auto; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);  z-index: 1;}
.dropdown-content a { color: black;  padding: 12px 16px;  text-decoration: none;  display: block;}
.dropdown a:hover {background-color: #f1f1f1}
.show {display:block;}


.cycle1 {border-color: #cc3300; background-color:#ff9999; border-radius: 100%; width:20%;  height:300px; margin:50px 45px 50px 45px; background-image: url("http://localhost/p_inventory/photos/ft.jpg");}
.cycle2 {border-color: #cc3300; background-color:#ff9999; border-radius: 100%; width:20%;  height:300px; margin:50px 45px 50px 45px; background-image: url("http://localhost/p_inventory/photos/t22.jpg");}
.cycle3 {border-color: #cc3300; background-color:#ff9999; border-radius: 100%; width:20%;  height:300px; margin:50px 45px 50px 45px; background-image: url("http://localhost/p_inventory/photos/kkn.jpg");}
.cycle4 {border-color: #cc3300; background-color:#ff9999; border-radius: 100%; width:20%;  height:300px; margin:50px 45px 50px 45px; background-image: url("http://localhost/p_inventory/photos/it6.jpg");  background-position: center; }




